@font-face {
	font-family: GameOfThrones;
	src: url("assets/fonts/game_of_thrones.ttf");
}

body{
	background: #27AE60;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#gameCanvas{
	padding: 0px;
	margin: 0px;
}

#legend{
	font-family: GameOfThrones;
	color:#fff;
	margin-bottom:0px !important;
	margin-top: 5px !important;
}

